MAT 120 Online, Project #4
Fall 2015


First, I have corrected an error in the data for my two MAT 120 Online classes. This error will not change anything about this project or Project 3, but it could influence later projects. I have attached the corrected data sheet, and I have also uploaded the corrected sheet to Course Content. Please make sure to print the corrected version of the data. 

Moving on to the project, I have created a frequency distribution of eye color from our class data:

Eye Color
Frequency
Probability
Brown
23

Green
14

Blue
11

Hazel
6

Dark Brown
1

Black
1


1.	Construct a probability model for eye color in my two classes. Round your probabilities to three decimal places and write them in the table above.


2.	Are your probabilities empirical probabilities or classical probabilities? Explain.

3.	Verify that your probability model is a legitimate probability model. (HINT: Use the two Rules of Probability on pg. 256.)


4.	In the sample space of eye color, are dark brown eyes unusual? Are black eyes unusual? Explain why or why not.


5.	If I randomly select a student from my classes, what is the probability that I select a student with hazel eyes?

6.	If I randomly select a student from my classes, what is the probability that I select a student with green eyes or blue eyes? Show your work.

7.	If I randomly select a student from my classes, what is the probability that I select a student who does not have brown eyes? Show your work.

In [1]:
import pandas as pd
import statistics as stat
import numpy as np
import matplotlib.pyplot as plt
import math
import itertools
import seaborn as sns
%matplotlib inline

In [37]:
# Alright lets get this data loaded in
eye_frame = pd.DataFrame(index=range(6), columns=['Eye Color', 'Frequency', 'Probability'])

In [38]:
# Great I've got an empty dataframe to work with
eye_frame

  Eye Color Frequency Probability
0       NaN       NaN         NaN
1       NaN       NaN         NaN
2       NaN       NaN         NaN
3       NaN       NaN         NaN
4       NaN       NaN         NaN
5       NaN       NaN         NaN

In [46]:
# Alright lets fill the data up with what we know
eye_colors = ['Brown','Green','Blue','Hazel','Dark Brown','Black']
eye_colors_people = [23,14,11,6,1,1]
for row_num,row in enumerate(eye_frame.iterrows()):
    row[1][0] = eye_colors[row_num]
    row[1][1] = eye_colors_people[row_num]
eye_frame

    Eye Color Frequency Probability
0       Brown        23         NaN
1       Green        14         NaN
2        Blue        11         NaN
3       Hazel         6         NaN
4  Dark Brown         1         NaN
5       Black         1         NaN

In [53]:
# Lets get the probability based on our data
total_people = eye_frame['Frequency'].sum() # All the people in the study
for row_num,row in enumerate(eye_frame.iterrows()):
    row[1][2] = row[1][1]/total_people
eye_frame

    Eye Color Frequency Probability
0       Brown        23   0.4107143
1       Green        14        0.25
2        Blue        11   0.1964286
3       Hazel         6   0.1071429
4  Dark Brown         1  0.01785714
5       Black         1  0.01785714

3.Verify that your probability model is a legitimate probability model. (HINT: Use the two Rules of Probability on pg. 256.)
Rules
The probabilities must ad up to 1

In [60]:
# Lets double check this
for row in eye_frame.iterrows():
    assert row[1][2] > 0 and row[1][2] < 1 
#Since this loop passed that means all the probabilities are less than 1 and greator than 0
assert eye_frame['Probability'].sum() == 1.0 # The assertion passed which means the sum of the probabilities is equal to 1

1.Construct a probability model for eye color in my two classes. Round your probabilities to three decimal places and write them in the table above.

In [59]:
# Great this one is finished.  No need to round to 3 decimal places since this is in code
eye_frame

    Eye Color Frequency Probability
0       Brown        23   0.4107143
1       Green        14        0.25
2        Blue        11   0.1964286
3       Hazel         6   0.1071429
4  Dark Brown         1  0.01785714
5       Black         1  0.01785714

2.Are your probabilities empirical probabilities or classical probabilities? Explain.

These are emperical probabilities since the data was collected from test results.

4.In the sample space of eye color, are dark brown eyes unusual? Are black eyes unusual? Explain why or why not.

An event is usually considered unusual if it has a probability less then .05

Dark Brown Eyes and Black Eyes are both unusual